%tr
  %td= raw_page_view.id
  %td= raw_page_view.visited_at
  %td= raw_page_view.tracked_page_id
  %td= raw_page_view.page_title
  %td= raw_page_view.page_url
  %td= raw_page_view.referrer_url
  %td= raw_page_view.writer_id
  %td= raw_page_view.cookie_id