== &laquo; #{link_to "#{I18n.t('article_report.back_to_dashboard')}", dashboard_path(@user[:id], @user[:key])}
%h1= I18n.t('report.header')
%date
  =form_tag article_dashboard_path(@user[:id], @user[:key], @article_id), :method => :get do
    == #{I18n.t('report.start_date')} #{text_field_tag(:start_date, I18n.l(@start_date), {:id => "start_date"})}
    == #{I18n.t('report.end_date')} #{text_field_tag(:end_date, I18n.l(@end_date), {:id => "end_date"})}
    = submit_tag I18n.t('report.update')
%br

%h2= I18n.t('article_report.page_view_graph_header').gsub("[title]","#{@article_title}")
#page_view_plot

%h2= I18n.t('article_report.page_views_line').gsub('[total_views]',"#{@total_view_count}")
#source_chart


%h2= I18n.t('report.keyword_header')
%table.rounded-corner
  %thead
    %tr
      %th.rounded-left Keyphrases
      %th.rounded-tab2-right ...
  %tfoot
    %tr
      %td.rounded-foot{:colspan => 2, :height => 15}
  %tbody
    - @keyphrase_counts.each do |k|
      %tr
        %td= k[0]
        %td= k[1]

%h2= I18n.t('report.domain_header')
%table.rounded-corner
  %thead
    %tr
      %th.rounded-left Domains
      %th.rounded-tab2-right ...
  %tfoot
    %tr
      %td.rounded-foot{:colspan => 2, :height => 15}
  - @domain_counts.each do |k|
    %tr
      %td= k[0].blank? ? "[direct]" : k[0]
      %td= k[1]

- content_for :page_javascript do
  = javascript_include_tag 'jquery.highcharts.page-view-plot'
  
  :javascript
    $(function(){
      var dates = $( "#start_date, #end_date" ).datepicker({
        numberOfMonths: 1,
        minDate: new Date(2011, 1-1, 1),
        onSelect: function( selectedDate ) {
          var option = this.id == "start_date" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
          instance.settings.dateFormat ||
          $.datepicker._defaults.dateFormat,
          selectedDate, instance.settings );
          dates.not( this ).datepicker( "option", option, date );
        }
      });
    
      $.datepicker.setDefaults($.datepicker.regional["#{I18n.locale.to_s}"]);
      
      $('#page_view_plot').page_view_plot({
        series: [{
          name: 'This week',
          pointInterval: #{1.day * 1000},
          pointStart: #{@start_date.at_midnight.to_i * 1000},
          data: #{prepare_data(@view_counts, @start_date, @end_date)}
        }]
      })      
        // Make the 'source_chart' div a highchart pie chart showing the source types.
        var source_chart;
        source_chart = new Highcharts.Chart({
          chart: {
             renderTo: 'source_chart',
             plotBackgroundColor: null,
             plotBorderWidth: null,
             plotShadow: false,
             marginLeft: 100,
             marginRight: 100,
             marginBottom: 50,
             marginTop: 50
          },
          title: {
             text: ''
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.y;
             }
          },
          credits: {
            enabled: false
          },
          plotOptions: {
             pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                   enabled: true,
                   color: '#000000',
                   connectorColor: '#000000',
                   formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.y;
                   }
                }
             }
          },
           series: [{
             type: 'pie',
             data: #{@source_counts.map{|source_sym, count| [I18n.t("report.#{source_sym.to_s}"), count]}.to_json}
          }]
       });

    });