:javascript
  // Set the selected element on the select tag with id select tag to the option with value value.
  function set_selected_option(select_id, value){
    $("#" + select_id + " option[selected]").removeAttr("selected");
    $("#" + select_id + " option[value='" + value + "']").attr("selected","selected");
  }

  $(function(){
    var chart;
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'page_view_plot',
        defaultSeriesType: 'line',
        marginRight: 130,
        marginBottom: 85
      },
      title: {
        text: 'Page Views',
        x: -20 //center
      },
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: 'Views'
          },
        min: 0
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + this.y;
        }
      },
      series: [{
        name: 'This week',
        pointInterval: #{1.day * 1000},
        pointStart: #{@start_date.at_midnight.to_i * 1000},
        data: #{@view_counts.inspect}
      }]
    });
    
    // Set the on click for link with id 'id' to update the date selectors with the given start and end dates.
    function set_date_selector_click(id, start_date_year, start_date_month, start_date_day, end_date_year, end_date_month, end_date_day){
      $("#"+id).click(function(){
        set_selected_option("start_date_year", start_date_year);
        set_selected_option("start_date_month", start_date_month);
        set_selected_option("start_date_day", start_date_day);
        set_selected_option("end_date_year", end_date_year);
        set_selected_option("end_date_month", end_date_month);
        set_selected_option("end_date_day", end_date_day);
        $("form").submit();
        return false;
      });
    }

    // Setup click handlers for the short cut date range selectors.
    set_date_selector_click("this_week", #{1.week.ago.year}, #{1.week.ago.month}, #{1.week.ago.day}, #{Date.today.year}, #{Date.today.month}, #{Date.today.day});
    set_date_selector_click("last_week", #{2.weeks.ago.year}, #{2.weeks.ago.month}, #{2.weeks.ago.day}, #{1.week.ago.year}, #{1.week.ago.month}, #{1.week.ago.day});
    set_date_selector_click("this_month", #{1.month.ago.year}, #{1.month.ago.month}, #{1.month.ago.day}, #{Date.today.year}, #{Date.today.month}, #{Date.today.day});
    set_date_selector_click("last_month", #{2.months.ago.year}, #{2.months.ago.month}, #{2.months.ago.day}, #{1.month.ago.year}, #{1.month.ago.month}, #{1.month.ago.day});
    set_date_selector_click("last_90_days", #{90.days.ago.year}, #{90.days.ago.month}, #{90.days.ago.day}, #{Date.today.year}, #{Date.today.month}, #{Date.today.day});

  });

%h1 My Suite101 Stats

=form_tag dashboard_path(@suite101_member_id, @key) do
  == Start date #{select_date(@start_date, {:start_year => 2010, :end_year => Date.today.year, :prefix => "start_date"})}
  == End date #{select_date(@end_date, {:start_year => 2010, :end_year => Date.today.year, :prefix => "end_date"})}
  = submit_tag 'Update'
%br

%a#this_week{:href => ""} This week
%a#last_week{:href => ""} Last week
%a#this_month{:href => ""} This month
%a#last_month{:href => ""} Last month
%a#last_90_days{:href => ""} Last 90 days
%br

#page_view_plot{:style => "width: 700px; height: 400px;"}

== Total: #{@total_views}


/ %hr
/ Debugging output
/ %br
/ - @views.each do |view|
/   = view.date
/   |
/   = view.count 
/   %br
/   
/ = debug(@view_counts)
